@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, #00ff00, #ff0000);
}

h1 {
    font: 600 3.5em 'Monoton', cursive, sans-serif;
    color: rgba(0,0,0,0.5);
    width: 100%;
}

h2 {
    font: 500 1.3em 'Tahoma';
    color: rgba(0,0,0,0.6);
}